{% extends 'base.html' %}


{% block content %}

<h1>About Nicolas Cage</h1>
  <div class="about-container">
    <img style="border-radius: 7px; margin-right: 15px;" src="https://i.pinimg.com/236x/dd/f3/33/ddf3330d4bbd77ae67f9781001020f0e--caged-nicolas-cage.jpg" alt="">

    <p>Nicolas Kim Coppola (born January 7, 1964), known professionally as Nicolas Cage, is an American actor and filmmaker. Cage has been nominated for numerous major cinematic awards, and won an Academy Award, a Golden Globe, and Screen Actors Guild Award for his performance in Leaving Las Vegas (1995). He earned his second Academy Award nomination for his performance as Charlie and Donald Kaufman in Adaptation (2002). <br>
    At fifteen years old he tried to convince his uncle, Francis Ford Coppola, to give him a screen test, telling him "I'll show you acting." His outburst was met with "silence in the car".  By this stage of his career, Coppola had already directed Marlon Brando, Al Pacino, Gene Hackman and Robert De Niro. To avoid the appearance of nepotism as Coppola's nephew, he changed his name early in his career to Nicolas Cage, inspired in part by the Marvel Comics superhero Luke Cage.
     
    
    </p>
    <hr />

  
  </div>

{% endblock %}


