{% extends 'base.html' %}


{% block content %}

<h1>About Nicolas Cage</h1>

    <p>Nicolas Kim Coppola (born January 7, 1964),[2][3] known professionally as Nicolas Cage, is an American actor and filmmaker. Cage has been nominated for numerous major cinematic awards, and won an Academy Award, a Golden Globe, and Screen Actors Guild Award for his performance in Leaving Las Vegas (1995). He earned his second Academy Award nomination for his performance as Charlie and Donald Kaufman in Adaptation (2002).</p>
  <hr />
  <p>Hire the CAGE!</p>
  <img src="https://i.pinimg.com/236x/dd/f3/33/ddf3330d4bbd77ae67f9781001020f0e--caged-nicolas-cage.jpg" alt="">

{% endblock %}


