{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nicolas Cage Database</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- CSS FILE CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav class="new-nav">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Cage Movies</a></li>
        </ul>
        <ul class="right">
            <!-- Referencing name=" " in urls.py -->
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'gifs' %}">Gifs</a></li>
            <li><a href="{% url 'create_movie' %}">Add Movie</a></li>
            <li><a href="{% url 'index' %}">All Movies</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    
    {% endblock %}
  </main>
  <footer class="page-footer new-footer">
    <div class="right">&copy; 2021 Nicolas Cage &nbsp;</div>
  </footer>
</body>
</html>