{% extends 'base.html' %}

{% block title %}
  Gifs
{% endblock %}

{% block content %}

  <h1>All your favorite gifs</h1>


  <div class="gif-container">
  
    <img class="gif" src="https://media1.giphy.com/media/bn0zlGb4LOyo8/200.gif" alt="">

    <img class="gif" src="https://media2.giphy.com/media/12A3hKKsewxtGE/giphy.gif" alt="">

    <img class="gif" src="https://media4.giphy.com/media/YcRJTrJNMsGHK/200.gif" alt="">

    <img class="gif" src="https://media.tenor.com/images/63818ca9de429d3f517cbbd46e1b9f08/tenor.gif" alt="">

    <img class="gif" src="https://media3.giphy.com/media/J3l4ZjVkj37TW/200.gif" alt="">

    <img class="gif" src="https://i.pinimg.com/originals/8f/b4/71/8fb4717ccb5b525820f7e736dfcf8157.gif" alt="">

    <img class="gif" src="https://hips.hearstapps.com/esq.h-cdn.co/assets/cm/15/06/54d3d4c44a2be_-_tumblr_lxovqqfcra1r4etbjo1_500.gif?resize=480:*" alt="">

    <img class="gif" src="https://media.tenor.com/images/523d23f49cc15fdc21a4893ee1c9d9e4/tenor.gif" alt="">

    <img class="gif" src="https://media2.giphy.com/media/9rWmUuwkNQvra/giphy.gif?cid=790b76115c9de766382e5146555089df" alt="">

    <img class="gif" src="https://media.tenor.com/images/63040837cfb502c11c8e88571d8493bf/tenor.gif" alt="">

    <img class="gif" src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/694662/nicolas_cage_dodges_bullet.0.gif" alt="">

    <img class="gif" src="https://media.tenor.com/images/299728f94d800ae970c621da9cc2c46d/tenor.gif" alt="">

    <img class="gif" src="https://i.gifer.com/origin/72/725ec6a6a3627d26dfa274f5e2d006fe_w200.gif" alt="">

    <img class="gif" src="https://akns-images.eonline.com/eol_images/Entire_Site/201506/rs_500x500-150106140230-tumblr_mnxf5q20wb1rw7944o1_400.gif?fit=around%7C500:500&output-quality=90&crop=500:500;center,top" alt="">

    <img src="https://hips.hearstapps.com/esq.h-cdn.co/assets/cm/15/06/54d3d4c40055b_-_tumblr_m5j9gktsf01rtiapso1_500.gif?resize=480:*" alt="" class="gif">

    <img src="https://i.gifer.com/origin/77/774675c81ea4af1e86fb14f7b24803a3_w200.gif">

    <img src="https://lh3.googleusercontent.com/proxy/R8nnhR58EwoX9gUKvnqlAf4VIgyIdEcgksY5TCxlNf7HRM5DgE_uZIFLGtyUy8_tuWAry-LBZiYcwu2bVRmfq1IKtvWqEoyhe2UN" alt="" class="gif">

    <img src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/694672/nicolas_cage_burning.0.gif" alt="" class="gif">

    <img src="https://thumbs.gfycat.com/PertinentBlankBaiji-size_restricted.gif" alt="" class="gif">
  </div>


{% endblock %}