{% extends 'base.html' %}

{% block title %}
  Gifs
{% endblock %}

{% block content %}

  <h1>All your favorite gifs</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nihil debitis odio doloribus, blanditiis sapiente deserunt magnam quis esse, earum illum fugiat saepe unde similique.</p>

  <div class="gif-container">
  
    <img class="gif" src="https://media1.giphy.com/media/bn0zlGb4LOyo8/200.gif" alt="">

    <img class="gif" src="https://media2.giphy.com/media/12A3hKKsewxtGE/giphy.gif" alt="">

    <img class="gif" src="https://media4.giphy.com/media/YcRJTrJNMsGHK/200.gif" alt="">

    <img class="gif" src="https://media.tenor.com/images/63818ca9de429d3f517cbbd46e1b9f08/tenor.gif" alt="">

    <img class="gif" src="https://media3.giphy.com/media/J3l4ZjVkj37TW/200.gif" alt="">

    <img class="gif" src="https://lh3.googleusercontent.com/proxy/cs7ShFUF7SaI6bi5vMQKjaaqyP3HgiktE3dpyHkr2W7SyKt5SKsPC5gu3RPL8LF5a4COuqxvcvhbWs_1kzFa23HkSldAAbCmvzs9" alt="">

    <img class="gif" src="https://hips.hearstapps.com/esq.h-cdn.co/assets/cm/15/06/54d3d4c44a2be_-_tumblr_lxovqqfcra1r4etbjo1_500.gif?resize=480:*" alt="">

    <img class="gif" src="https://media.tenor.com/images/523d23f49cc15fdc21a4893ee1c9d9e4/tenor.gif" alt="">

    <img class="gif" src="https://media2.giphy.com/media/9rWmUuwkNQvra/giphy.gif?cid=790b76115c9de766382e5146555089df" alt="">

    <img class="gif" src="https://media.tenor.com/images/63040837cfb502c11c8e88571d8493bf/tenor.gif" alt="">

    <img class="gif" src="https://lh3.googleusercontent.com/proxy/_cSOtksGZ7KFPCU0gbq3cunDMsux622YxnDcujIsU9p-vEJDPQ_kVA7CA3qMJ9OV51mkpDZg2Q6m3UmeYHO5xPjExZWt4AEE68xT" alt="">

    <img class="gif" src="https://media.tenor.com/images/299728f94d800ae970c621da9cc2c46d/tenor.gif" alt="">

  </div>


{% endblock %}