  
body {
  /* background-image: url(https://cdn6.dissolve.com/p/D2115_195_954/D2115_195_954_1200.jpg); */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* color:seashell */

}

main {
  flex: 1 0 auto;
}

.new-nav {
  background-color: black;
}

.img-holder {
  width: 150px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.gif {
  /* width: auto; */
  width: 200px;
  /* height: auto; */
  height: 150px;
  margin: 15px;
  border-radius: 5px;
}





.gif-container {
  
}




button.btn {
  background-color: black;
  border-radius: 10px;
}

button.btn:hover {
  background-color: rebeccapurple;
  border-radius: 10px;
}


footer {
  padding-top: 0;
  text-align: right;
}

.new-footer {
  background-color: black;
}

