{% extends 'base.html' %}

{% block content %}

    <h1>MOVIE DETAIL</h1>

    <div class="card">
        <div class="card-content">
          {% if movie.image %}
            <div class="img-holder">
              <img src="{{ movie.image.url }}" alt="movie-image">
            </div>
          {% endif %}  
          <span class="card-title">{{ movie.name }}</span>
          <p>Year: {{ movie.year }}</p>
          <p>Genre: {{ movie.genre }}</p>
          <p>Description: {{ movie.description }}</p>

         
        </div>
        <div class="card-action">
            <a href="{% url 'delete_movie' movie.id %}">DELETE</a>
            <a href="{% url 'update_movie' movie.id %}">Update</a>
        </div>

    </div>
    <tbody>
      {% for review in movie.userfeedback_set.all %}
        <tr>
          <p>{{review.user_review}}</p>
          {% comment %} <td><a class="btn red" href="{% url 'delete_review' movie.id review.id %}">Delete</a></td> {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>



    <form method="POST" action="{% url 'add_review' movie.id %}">
      {% comment %} CSRF - Cross Site Request Forgery {% endcomment %}
      {% csrf_token %}
      {{ form.as_p }}

      <button class="btn" type="submit">Add Review</button>
    </form>

{% endblock %}