{% extends 'base.html' %}

{% block content %}

    <h1>INDEX</h1>

    {% for movie in movies %}

    {% comment %} <a href="/cats/{{ cat.id }}"> {% endcomment %}
    {% comment %} <a href="{% url 'detail' cat.id %}"> {% endcomment %}
    <a href="/movies/{{ movie.id }}">
      <div class="card">
        <div class="card-content">
          {% if movie.image %}
            <div class="img-holder">
              <img src="{{ movie.image.url }}" alt="movie-image">
            </div>
          {% endif %}  
          <span class="card-title">{{ movie.name }}</span>
          <p>Year: {{ movie.year }}</p>
          <p>Genre: {{ movie.genre }}</p>
          <p>Description: {{ movie.description }}</p>

          {% comment %} {% if movie.year > 2009 %}
            <p>Year: {{ movie.year }}</p>
          {% else %}
            <p>Year: THE DARK YEARS</p>
          {% endif %} {% endcomment %}
        </div>
      </div>
    </a>
    {% comment %} </a> {% endcomment %}
  {% endfor %}

{% endblock %}

