{% extends 'base.html' %}

{% block content %}

    <h1>All Movies</h1>
    
    <form class="order-container" method="POST" action="{% url 'index' %}">
      {% csrf_token %}
      <input id="orderBy" name="orderBy" type="hidden" value="name">
      <button class="order-button"type="submit">Order by Name</button>
    </form>
    <form class="order-container"method="GET" action="{% url 'index' %}">
      <button class="order-button" type="submit">Order by Year</button>
    </form>


    {% for movie in movies %}

    {% comment %} <a href="/cats/{{ cat.id }}"> {% endcomment %}
    {% comment %} <a href="{% url 'detail' cat.id %}"> {% endcomment %}
    <a href="/movies/{{ movie.id }}">
      <div class="card">
        <div class="card-content">
          {% if movie.image %}
            <div class="img-holder">
              <img src="{{ movie.image.url }}" alt="movie-image">
            </div>
          {% endif %}  
          <span class="card-title index-text">{{ movie.name }}</span>
          <p class="index-text underline">Year: {{ movie.year }}</p>
          <p class="index-text underline">Genre: {{ movie.genre }}</p>
          <p class="index-text bold">Description:</p><p> {{ movie.description }}</p>

          {% comment %} {% if movie.year > 2009 %}
            <p>Year: {{ movie.year }}</p>
          {% else %}
            <p>Year: THE DARK YEARS</p>
          {% endif %} {% endcomment %}
        </div>
      </div>
    </a>
    {% comment %} </a> {% endcomment %}
  {% endfor %}

{% endblock %}

