{% extends 'base.html' %}

{% block content %}

    <h1>MOVIE DETAIL</h1>

    <div class="card">
        <div class="card-content">
          {% if movie.image %}
            <img src="{{ movie.image }}" alt="movie-image">
          {% endif %}  
          <span class="card-title">{{ movie.name }}</span>
          <p>Year: {{ movie.year }}</p>
          <p>Description: {{ movie.description }}</p>

          {% if movie.year > 2009 %}
            <p>Year: {{ movie.year }}</p>
          {% else %}
            <p>Year: THE DARK YEARS</p>
          {% endif %}
        </div>
        <div class="card-action">
            <a href="{% url 'delete_movie' movie.id %}">DELETE</a>
            <a href="{% url 'update_movie' movie.id %}">Update</a>
        </div>

    </div>

{% endblock %}